@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-blue: #17317F;
  --yellow: #FEDC07;
  --grey: #CCC;
}

h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  ;
}

h3 {
  color: var(--dark-blue);
  margin: 0;
}

.price {
  font-size: 3rem;
}

.greyed {
  color: var(--grey);
}

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  box-sizing: border-box;
  background-image: url(https://static.onthebeach.co.uk/fe-code-test/background.png);
  padding: 2rem;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  width: 100%;
  background: white;
  margin-top: 1.2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.hotel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right-side info */
.hotel-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}



.stars {
  font-size: 1.1rem;
  color: #fdb813;
  margin-bottom: 8px;
}

.ns {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.book-button {
  background-color: var(--yellow);
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.book-button:hover {
  background-color: #fcb900;
}

/* Price styling */
.price {
  font-size: 1.8rem;
  color: #17317F;
  font-weight: bold;
  margin-top: 0;
}

/* Read More button */
.show-more {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  color: var(--dark-blue);
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  z-index: 10;
}


.hotel-details {
  grid-column: 1 / span 2;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: -1px;
}

.sort-buttons {
  display: flex;
  flex-direction: column;
}

.sort-buttons-button {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 200px; 
  padding: 0.5rem 1rem;
  border: none;
  background: #f4f4f4;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left; 
}

.sort-buttons-button span {
  flex-grow: 1; 
}

.sort-buttons button:nth-child(1) {
  padding: 1rem;
  border: none; background-color: white;
  cursor: pointer;
}

.sort-buttons button:nth-child(2) {
  padding: 1rem;
  border: none; background-color: white;
  cursor: pointer;
  border-top: 1px solid var(--dark-blue);
}

.sort-buttons button:nth-child(3) {
  padding: 1rem;
  border: none; background-color: white;
    cursor: pointer;
    border-top: 1px solid var(--dark-blue);
}

.sort-buttons button:nth-child(1).active {
  color: white;
  background-color: var(--dark-blue);
}

.sort-buttons button:nth-child(2).active {
  color: white;
  background-color: var(--dark-blue);
}

.sort-buttons button:nth-child(3).active {
  color: white;
  background-color: var(--dark-blue);
}

.sort-buttons .active {
  background-color: var(--dark-blue);
  color: white;
}

.hotel-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.offer-pill {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: var(--yellow);
  color: var(--dark-blue);
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  ;
}

/* Arrow rotate */
.arrow {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease;
  transform: rotate(270deg);
}

.arrow.down {
  transform: rotate(360deg);
}

.blue {
  color: var(--dark-blue);
}
/* Media queries */

@media (max-width: 900px) {
  .container {
    display: block;
    gap: 2rem;
    padding: 1rem;
  }


}