
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --dark-blue: #17317F;
  --yellow: #FEDC07;
  --grey: #CCC;
}

h3, p {
  font-family: "Roboto", sans-serif;;
}

h3 {
  color: var(--dark-blue);
  margin: 0;
}

.price {
  font-size: 2rem;
}

.greyed {
  color: var(--grey);
}

:root {
  --dark-blue: #17317F;
  --yellow: #FEDC07;
  --grey: #CCC;
}


.container {
  display: flex;
  background-image: url(https://static.onthebeach.co.uk/fe-code-test/background.png);
  justify-content: center;
  gap: 2rem;
}
.hotel-card {
  display: flex;
  align-items: stretch; /* Ensures both sides are the same height */
  overflow: hidden;
  margin-top: 1.2rem;
  background: white;
  width: 100%;
}


/* Left-side image */
.hotel-image-container {
  width: 50%;
  position: relative;
  flex-shrink: 0;
}

.hotel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right-side info */
.hotel-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

/* Title, stars, details */
h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.stars {
  font-size: 1.1rem;
  color: #fdb813;
  margin-bottom: 8px;
}

.ns {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

/* Yellow Book Now button section */
.book-button {
  background-color: var(--yellow);
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.book-button:hover {
  background-color: #fcb900;
}

/* Price styling */
.price {
  font-size: 1.8rem;
  color: #17317F;
  font-weight: bold;
  margin-top: 0;
}

/* Read More button */
.show-more {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: white;
  color: var(--dark-blue);
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

/* Expanded text styling */
.hotel-details {
  padding: 10px;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  color: #555;
  overflow-wrap: break-word;
  width: 100%;
} 

.sort-buttons {
  display: flex;
  flex-direction: column;
  background-color: white !important;
  margin-top: 2rem;
  border: none;
}

.sort-buttons button:nth-child(1) {
  padding: 1rem;
  border: none;
}

.sort-buttons button:nth-child(2) {
  padding: 1rem;
  border: none;
  
}

.sort-buttons button:nth-child(3) {
  padding: 1rem;
  border: none;
}

.sort-buttons .active {
  background-color: var(--dark-blue);
  color: white;
}
